# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.*.local

# Google Cloud Service Account Key
gcs-key.json
*-key.json

# Logs
logs/
*.log
npm-debug.log*

# Uploads
uploads/*
!uploads/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Temp files
*.tmp
*.temp

# Deployment sensitive files
deployment-info.txt
firebase-service-account.json


# les fichiers .md
*.md


# exclure le dosser jmeter
jmeter/

# Load test results (fichiers trop gros pour GitHub)
load-test-*.json
load-test-*.log
load-test-results/
load-test-results.json
load-test-results-*.json
